@font-face {
    font-family: 'Tajawal';
    src: url('/css/Tajawal-Regular.woff2') format('woff2'), url('/css/Tajawal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, a, h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: 'Tajawal' !important;
}

body{
    background-color: #F5F5F5;
}


*{
    padding: 0;
    margin: 0;
}

.slider{
     
    height: 600px;
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
}
  .slider .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
} 
.slider .cat-nav-overlay{
    position: relative;
}

a.cat-hover:hover {
    color: #0078ff!important;
}


#container {
    color: #999;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
 
    width: 100%;
    bottom: 0%;
    display: block;
    text-align: center;
  }
  
  #flip {
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:50px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#28A745;
  }
  #flip div:first-child div {
    background:#007BFF;
  }
  #flip div:last-child div {
    background:#FFC107;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }




 .about{
    padding: 50px 0;

  
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06),  rgba(0, 0, 0, 0.2)
 }
 .about .skills-info{
     margin-bottom: 20px;
 }
 .about .skills-info p span{
     font-size: 18px;
     font-weight: bold;
 }
 
.about  .skills-about h1{
     font-size: 32px;
     color: 1e1e1e;
 }
 .about .skills-about p{
     line-height: 30px;
     font-size: 20px;
     color: 4e4e4e;
 }
 .skills-about .line{
     width: 100px;
     height: 3px;
     margin: 20px 0;
     background-color: blue;
 }




 .service{
     padding: 50px 0;
 }
 .service .card{
     padding: 20px 0;
 }

 .icon{
     padding-top: 1rem;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 5px solid#0078FF;
  border-radius: 100%;
  line-height: 80px;
  text-align: center;
  transition: all 500ms ease;
 }
 .icon:hover{
     background-color: #0078FF;
     border: 5px solid#ccc;
     color: #fff;
 }
 .card{
     margin-bottom: 25px;
     border-radius: 15px;
     border: solid#fff;
     box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
 }
 .service .card-body h1{
font-size: 33px;
 }

.circul{
  
   
position: relative;
background-attachment: fixed;
}

 .circul .overlay{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: blue;
     opacity: .6;
     
 }
 .circul .circul_body{
     margin: 50% auto ;
 }
 
 .circul .circul_body .icons {
    width: 90px;
    
    display: inline-block;
    height: 90px;
    border-radius: 100%;
    font-size: 40px;
    border: 7px solid;
    margin: auto;
    padding-top: 10px;
 }
 




 .portfolio{
     padding: 50px 0;
 }
 .portfolio .card{
     border: none;
     box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
 }
 .portfolio .cat-plus{
    font-size: 35px;
    color: cornflowerblue;
 }
 
 .portfolio .card img{
width: 100%;

 
 }
 

 .cat-testimoneal{
     width: 50%;
 }

 .testimonial{
     padding-bottom: 15px;
     position: relative;
     background-attachment: fixed;
     background-size: cover;
 }
 .testimonial .overlay{
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: #0078ff;
 opacity: .5;
 }
 .testimonial .cat-content{
     padding-top: 80px;
 }
 
 .testimonial .cat-body h1{
font-size: 28px;
color: #fff;
 }
 .testimonial .cat-body p{
    font-size: 20px;
    color: #fff;
     }

     .testimonial .cat-quote{
         width: 50px;
         height: 50px;
         background-color: #fff;
         color: #0078FF;
         margin: 0 auto;
         font-size: 28px;
         padding: 5px;
         border-radius: 100%;
         
     }
.blog{
    padding: 50px 0;
}
.blog .card{
    border: none;
}
.blog .cat-box{
    text-align: center;
    margin-top: -12px;
}
.blog .cat-box span{
    background:#007BFF;
    color: #fff;
    
    padding: 3px 15px;
}
.blog .card-body a{
   text-decoration: none;
}
.blog .card-footer .fo-image{
    
    float: left;
    width: 50%;
     
}
.blog .card-footer .fo-image img{
    width: 17%;
}
.blog .card-footer .fo-icons{
   float: right;
}

 .contact{
     padding: 30px 0;
    position: relative;
 }
 .contact .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0078ff;
    opacity: .5;
    
 }
.contact .about-contact{
    padding: 5%;
    margin-top: 50px;
    position: relative;
    background-color: #fff;
 
   
}
.contact .about-contact .touch h1{
    font-size: 35px;
    color: #212529;
}
.contact .about-contact .touch p{
    font-size: 20px;
    color: #6c757d;
    font-weight: 30px;
}
.contact .about-contact .touch span{
display: block;
}
.contact .about-contact .touch span.fas{
    margin-right: 10px;
}
.contact .about-contact .sohial ul{
    padding-left: 10px;
}
.contact .about-contact .sohial li{
    width: 66px;
    height: 66px;
    border-radius: 100%;
    font-size: 30px;
    padding: 10px 15px;
    border: 4px solid#007BFF;
    display: inline-block;
    margin-right: 10px;
    
    
}
 
.sohial li:hover{
    background-color: #0078FF;
  
    color: #fff;
}
 
.cat-nav h1{
    font-size: 70px;
}
.cat-nav p{
    font-size: 40px;
}
@media only screen and (max-width: 767px){
    .cat-nav h1{
        font-size: 38px;
        text-align: center;
    }
    .cat-nav p{
        font-size: 15px;
    }
} 
 